# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/

# Data, checkpoints, outputs
/data/
/data/*
/checkpoints/
/samples/
/*.sqlite
*.db
configs/train.yaml

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# git LFS metadata (if used)
.gitattributes
